@use "../../../styles/settings" as s;

.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.link {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: s.$text-color;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @include s.mq(md) {
    font-size: 1.4rem;
  }
}
