@use "../../../styles/settings" as s;

.listWrapper {
  position: relative;
  overflow: hidden;
}


.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  transform: translateY(-2rem);
  transition: transform 0.8s ease;
  transition-delay: 0.6s;
}

.visible .list {
  transform: translateY(0);
}

.link {
  display: block;
  font-family: var(--font-inter);
  font-size: 1.2rem;
  font-weight: 400;
  color: s.$text-color;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @include s.mq(md) {
    font-size: 1.4rem;
  }
}
