@use "settings" as s;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Questrial&display=swap');

/*----------------------
  初期設定
-------------------------*/
html {
  font-size: 10px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden !important;


  @include s.mq(sm) {
    font-size: calc(10 / 767 * 100vw);
  }

  @include s.mq(md) {
    font-size: calc(10 / 1280 * 100vw);
  }

  @media screen and (min-width: 1200px) {
    font-size: 10px;
  }
}

body {
  max-width: 2700px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
  font-family: s.$main-font;
  font-weight: 400;
  font-size: 1.6rem;
  color: s.$text-color;
  letter-spacing: 0;
  line-height: 1.5;
  background-color: s.$bg-color;
  position: relative;
  overscroll-behavior: none;
  margin: auto;
}

main {
  min-height: 50vh;
}

._inner {
  max-width: s.$inner-width;
  width: 100%;
  margin-inline: auto;
}
