@use "../../../styles/settings" as s;

.button {
  width: 3.6rem;
  height: 3.6rem;
  border: 0.1rem solid s.$button-border-color;
  border-radius: 0.6rem;
  background-color: s.$button-bg-color;
  padding: 0.272rem;

  @include s.mq(md) {
    width: 5.2rem;
    height: 5.2rem;
    padding: 0.4rem;
  }
}

.buttonInner {
  width: 100%;
  height: 100%;
  display: block grid;
  place-items: center;
  background-color: s.$accent-color;
  border-radius: 0.4rem;
  cursor: pointer;
  contain: content;

  &::after {
    content: '';
    display: grid;
    width: 0;
    height: 0;
    border-radius: calc(infinity * 1px);
    background-color: #FF7900;
    position: absolute;
  }

  img {
    width: 0.8rem;
    height: 0.8rem;
    object-fit: contain;
    position: relative;
    z-index: 1;
  }

  @media (any-hover: hover) {
    &:hover,
    :global(a):hover & {
      &::after {
        animation: buttonHoverBg 1s ease forwards;
      }
      img {
        animation: buttonHoverArrow 1s ease forwards;
      }
    }
  }

  @include s.mq(md) {
    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

@keyframes buttonHoverBg {
  from {
    width: 0;
    height: 0;
  }
  to {
    opacity: 0;
    width: 180%;
    height: 180%;
  }
}

@keyframes buttonHoverArrow {
  0% {
    translate: 0 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    translate: 2rem -2rem;
  }
  51% {
    opacity: 0;
    translate: -2rem 2rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
