@use "../../../styles/settings" as s;

.header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.2rem 2rem;
  margin-inline: auto;
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
  animation-delay: 3.2s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;

  @include s.mq(md) {
    padding: 3.2rem 4rem;
  }
}

.logo {
  pointer-events: auto;
}

.title {
  font-family: s.$accent-font;
  font-size: 1.8rem;
  font-weight: 400;
  color: s.$main-color;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
}

.buttons {
  pointer-events: auto;
  display: grid;
  grid-template-columns: 5.6rem 4.2rem;
  grid-template-rows: 4.22rem;
  gap: 0.4rem;
  position: relative;
  z-index: 100;

  @include s.mq(md) {
    grid-template-columns: 7rem 5.3rem;
    grid-template-rows: 5.2rem;
  }
}

.contactButton {
  display: grid;
  align-items: center;
  width: 100%;
  background-color: s.$button-bg-color;
  padding: 0.325rem;
  border: 1px solid s.$button-border-color;
  border-radius: 0.6rem;
  
  @include s.mq(md) {
    padding: 0.4rem;
  }

  @include s.hover {
    .contactText {
      color: s.$text-color;
    }

    .animationItem {
      width: 8rem;
      height: 8rem;
    }
  }
}

.contactWrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: s.$main-color;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;  
}

.contactText {
  font-family: s.$num-font;
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0;
  transition: color 0.6s ease;
  position: relative;
  z-index: 1;

  @include s.mq(md) {
    font-size: 1.3rem;
  }
}

.animationItem {
  width: 0;
  height: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: calc(infinity * 1px);
  transition: width 0.6s ease, height 0.6s ease;
}

.hamburger {
  display: grid;
  align-items: center;
  width: 100%;
  background-color: s.$button-bg-color;
  padding: 0.325rem;
  border: 1px solid s.$button-border-color;
  border-radius: 0.6rem;
}

.hamburgerWrapper {
  width: 100%;
  height: 100%;
  background-color: s.$accent-color;  
  color: #fff;
  border-radius: 0.4rem;
  position: relative;

  span {
    width: 1.585rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;

    &:first-of-type {
      top: 1.5rem;
    }
    &:last-of-type {
      bottom: 1.5rem; 
    }

    @include s.mq(md) {
      width: 2rem;

      &:first-of-type {
        top: 2rem;
      }
      &:last-of-type {
        bottom: 2rem; 
      }
    }
  }
  
  &.open {
    span {
      &:first-of-type {
        transform: translateX(-50%) rotate(45deg);
        top: 52%;
      }
      &:last-of-type {
        transform: translateX(-50%) rotate(-45deg);
        bottom: 45%;
      }
    }
  }
}

.nav {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.4rem 0.8rem;
  z-index: 10;
  pointer-events: none;

  &.open {
    pointer-events: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(0rem);
  backdrop-filter: blur(0rem);
  background-color: rgb(0 0 0 / 0.3);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.6s ease, -webkit-backdrop-filter 0.6s ease, backdrop-filter 0.6s ease;
  
  .open & {
    pointer-events: auto;
    opacity: 1;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}

.navContent {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  max-width: 26.4rem;
  width: 100%;
  height: 100%;
  background-color: s.$accent-color;
  position: relative;
  z-index: 1;
  margin-left: auto;
  border-radius: 0.6rem;
  opacity: 0;
  translate: 100% 0;
  transition: opacity 0.6s ease, translate 0.6s ease;

  .open & {
    opacity: 1;
    translate: 0 0;
  }

  @include s.mq(md) {
    max-width: 41.1rem;
    max-height: 80.1rem;
  }
}

.navList {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: min-content;
  gap: 2rem;
  padding-inline: 1.4rem;
  
  @include s.mq(md) {
    height: 100%;
    align-content: end;
    gap: 2.6rem;
    padding: 5rem 4rem;
  }
}

.navLink {
  display: block;
  width: max-content;
  font-size: 2.2rem;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  letter-spacing: 0;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: #fff;
    transition: width 0.6s ease;
    position: relative;
    bottom: -0.4rem;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        width: 100%;
      }
    } 
  }

  @include s.mq(md) {
    font-size: 3.2rem;
  }
}

@keyframes fadeIn {
  to { opacity: 1; }
}
