@use "../../../styles/settings" as s;

.inner {
  background-color: #fff;
  padding: 8.8rem 2.2rem 7.6rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 10.2rem;
    background-color: #fff;
    position: absolute;
    top: -10.2rem;
    left: 0;
    z-index: 0;
  }

  @include s.mq(md) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8.8rem 2.4rem;
    justify-content: space-between;
    padding: 7.7rem 4rem;
    margin-inline: auto;
  }
}

.menu {
  margin-bottom: 4.5rem;

  @include s.mq(md) {
    margin-bottom: 0;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.8rem;
}

.menuLink {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  color: s.$text-color;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: s.$main-color;
    transition: width 0.6s ease;
    position: relative;
    bottom: -0.4rem;
  }

  @include s.hover {
    &:hover {
      &::after {
        width: 100%;
      }
    } 
  }
}

.contact {
  margin-bottom: 7.5rem;

  @include s.mq(md) {
    margin-bottom: 0;
  }
}

.contactTitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: s.$text-color;
  line-height: 100%;
  letter-spacing: 0;

  @include s.mq(md) {
    font-size: 1.4rem;
  }
}

.contactLink {
  display: grid;
  grid-template-columns: max-content 3.6rem;
  gap: 2.1rem;
  align-items: center;
  width: max-content;
  font-size: 2rem;
  font-weight: 400;
  color: s.$text-color;
  line-height: 1;
  letter-spacing: 0;
  
  @include s.mq(md) {
    grid-template-columns: max-content 5.2rem;
    gap: 2rem;
    font-size: 2.4rem;
  }
}

.message {
  margin-bottom: 1.8rem;

  @include s.mq(md) {
    margin-bottom: 0;
  }
}

.messageText {
  font-size: 3rem;
  font-weight: 300;
  color: s.$text-color;
  line-height: 1.6;
  letter-spacing: 0.02em;

  @include s.mq(md) {
    font-size: 5.2rem;
  }
}

.messageHighlight {
  color: s.$accent-color;
}

.copyright {
  @include s.mq(md) {
    align-self: end;
    justify-self: end;
  }
}

.copyrightText {
  font-size: 1.2rem;
  font-weight: 400;
  color: s.$text-color;
  line-height: 1.6;
  letter-spacing: 0.02em;
}